body
{
    background-color:white;
    margin:100px;
    color:brown;
}
table 
  { 
    width: 100%;
    border-collapse: collapse; 
  }
    td, th { 
            border: 1px solid black; 
            padding: 3px; 
            text-align: center;
           }
        th { 
            font-weight: bold;
            background-color: bisque;
           }
